<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=iso-8859-1"/>
  <title>%titulo% :: Usu&aacute;rio autenticado</title>
  <meta name="author" content="Laudivan Freire de Almeida"/>
</head>

<body style="background-color : white; color : back;">
<table summary="CPDATA" border="0" cellpadding="0" cellspacing="0" width="100%">
    <tr>
	<td align="center"><IMG alt="" src="imagens/logo.jpg"></td>
	<tr><TD>&nbsp;</TD></tr>
	<tr><TD>&nbsp;</TD></tr>
	<tr>
		<TD align="center">
			<a href="" onclick="javascript:window.open('http://%url_mudar_senha%','mudarsenha','height=200,width=400,status=false,dependent=true,location=false,alwaysRaised=true')">Mudar senha</a>
			&nbsp;&nbsp;&nbsp;
			<a href="http://%desconectar%">Desconectar</a>
		</td>
	</tr>
	<tr><TD>&nbsp;</TD></tr>
	<tr><TD>&nbsp;</TD></tr>
	<TR>
		<TD align="center">%mensagem%</TD>
	</tr>
</table>
</body>
</html>
