<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=iso-8859-1"/>
  <title>%titulo% :: Cadastro de Cliente</title>
  <meta name="author" content="Laudivan Freire de Almeida"/>
</head>

<body bgcolor="#ffffff">
<center>
<table summary="" cellpadding="2" cellspacing="2" border="0" bgcolor="#CECECE" width="100%">
	<TR>
	<!-- <TD width="80"><IMG alt="" src="imagens/logo-mini.gif" width="80" height="50" border="0"></TD>-->
	<TD width="*">&nbsp;</TD><TD width="50"  style="background-color : #CECECE; border-bottom-color : #6e3309; border-bottom-style : inset; border-collapse : separate; border-left-color : #6e3309; border-left-style : inset; border-right-color : #6e3309; border-right-style : inset; border-top-color : #6e3309; border-top-style : inset; color : #ffffff; text-decoration : none;">
	<A href="%url_tabela_2%">Retornar</A>
	</TD></TR>
</table>

<BR>
%mensagem%
<BR>

<FORM action="%url_cadastrar%" method="POST" enctype="multipart/form-data" onSubmit = "">
<table summary="" width="700px" cellpadding="2" cellspacing="0" border="0">
<TR>	<TD align="right">
		Login do administrador:
	</TD>
	<TD align="left" width="200px">
		<INPUT id="login" type="text" onKeyUp="habilitaSenha()" onKeyPress="return verificarLogin (event)" name="usuario" value="%login%" size="20" maxlength="20" %disabled%>
	</TD>
</TR>
<TR>	<TD align="right">
		Senha:
	</TD>
	<TD align="left">
		<INPUT id="senha" type="password" onkeyup="habilitaNome()" name="senha" value="%senha%" size="20" maxlength="20">
	</TD>
</TR>
<TR>	<TD align="right">
		Nome:
	</TD>
	<TD align="left">
		<INPUT id="nome" type="text" onkeyup="habilitaEmail()" name="nome" value="%nome%" size="30" maxlength="100">
	</TD>
</TR>
<TR>	<TD align="right">
		Email:
	</TD>
	<TD align="left">
		<INPUT id="email" type="text" onkeyup="verificarEmail()" name="email" size="15" maxlength="20" value="%email%">
	</TD>
</TR>
<TR>	<TD align="right">
	&nbsp;
	</TD>
	<TD align="left">
		<INPUT id="btsalvar" type="submit" name="salvar" value="%btsalvar%">
	</TD>
</TR>

</table>

</FORM>

</center>

<SCRIPT language="JavaScript" type="text/javascript">
function verificarLogin (evt) {
  	evt = (evt) ? evt : window.event;
  	var charCode = evt.which ? evt.which : evt.keyCode;
  	var texto = document.getElementById('login').value;
  	  	
  	if( (charCode >= 'a'.charCodeAt(0) && charCode <= 'z'.charCodeAt(0)) ||
  		(charCode >= 'A'.charCodeAt(0) && charCode <= 'Z'.charCodeAt(0)) ||
  		(charCode >= '0'.charCodeAt(0) && charCode <= '9'.charCodeAt(0)) ||
  		(charCode == 8 || charCode==46)
  	){	
  		return true;	
  	}

  	return false;
  }

  function habilitaSenha() {
  	if(document.getElementById('login').value!="" || 
  		document.getElementById('login').disabled
  	) {
  		document.getElementById('senha').disabled = false;
  	}else{
  		document.getElementById('senha').disabled = true;
  		document.getElementById('senha').value = "%senha%";
  	}
  	
  	habilitaNome();
  }
  
  function habilitaNome() {
  	if(document.getElementById('senha').value!=""){
  		document.getElementById('nome').disabled = false;
  	}else{
  		document.getElementById('nome').disabled = true;
  		document.getElementById('nome').value = "%nome%";
  		document.getElementById('email').style.backgroundColor = '';
  		document.getElementById('email').value = '%email%';
  	}
  	
  	habilitaEmail();
  }
  
  function habilitaEmail() {
  	if(document.getElementById('nome').value!=""){
  		document.getElementById('email').disabled = false;
  		document.getElementById('btsalvar').disabled = false;
  	}else{
  		document.getElementById('email').disabled = true;
  		document.getElementById('email').value = "%email%";
  		document.getElementById('btsalvar').disabled = true;
  	}
  }
  
 function habilitaBtSalvar() {
  	if(document.getElementById('nome').value!="" &&
  		document.getElementById('email').style.backgroundColor != '#FFB6B6'
  	){
  		document.getElementById('btsalvar').disabled = false;
  	}else{
  		document.getElementById('btsalvar').disabled = true;
  	}
  }
  
  function validarExpReg (str, expreg) { 
	return expreg.test(str);
  }
  
  function verificarEmail() {
  	var reg = /^[a-z][a-z0-9\_\.]*\@[a-z][a-z0-9\_\.]*$/;
  	var email = document.getElementById('email');
  	
  	if ( validarExpReg (email.value, reg) || email.value=="") {
	  	email.style.backgroundColor = '';
  		document.getElementById('btsalvar').disabled = false;
  	}else{
  		email.style.backgroundColor = '#FFB6B6';
  		document.getElementById('btsalvar').disabled = true;
  	}
  }
  
  habilitaSenha();
  </SCRIPT>

</body>

</html>
